body::before {
    content: "";
    background-image:
        linear-gradient(
            to right,
            rgba(255, 255, 255, 0.4) 1px,
            transparent 1px
        ),
        linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.4) 1px,
            transparent 1px
        );
    background-size: 60px 60px;

    mask-image:
        repeating-linear-gradient(
            to right,
            black 0px,
            black 2px,
            transparent 2px,
            transparent 6px
        ),
        repeating-linear-gradient(
            to bottom,
            black 0px,
            black 2px,
            transparent 2px,
            transparent 6px
        ),
        radial-gradient(
            ellipse 100% 50% at 50% 100%,
            black 30%,
            transparent 80%
        );

    -webkit-mask-composite: source-in;
    mask-composite: intersect;

    opacity: 0.3;

    mask-image:
        repeating-linear-gradient(
            to right,
            black 0px,
            black 3px,
            transparent 3px,
            transparent 8px
        ),
        repeating-linear-gradient(
            to bottom,
            black 0px,
            black 3px,
            transparent 3px,
            transparent 8px
        ),
        radial-gradient(
            ellipse 70% 100% at 50% 100%,
            black 50%,
            transparent 90%
        );
    -webkit-mask-composite: source-in;
    mask-composite: intersect;
}
