/* === Title === */
h1 {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
}

h1 span {
    font-family: var(--title-font);
    font-weight: var(--title-weight-s);
    line-height: 85%;
}

.h1-primary {
    font-size: var(--text-size-xs);
    font-weight: var(--title-weight-m);
}

.h1-secondary {
    width: 100%;
    text-align: center;

    text-transform: uppercase;
    font-size: var(--title-size-xxs-sdr);
    font-weight: var(--title-weight-l);
    letter-spacing: 0.02em;
}


/* === HEADER === */
header a {
    font-family: var(--header-font);
    font-size: var(--text-size-s);
    color: var(--text-color-prm);
    text-decoration: none;

    box-shadow: inset 0 -0.1em 0 transparent;
    transition: box-shadow var(--transition-duration) ease;
}

header a:visited {
    color: var(--text-color-prm);
    text-decoration: none;
}

header a:hover {
    box-shadow: inset 0 -0.1em 0 currentColor;
}


/* === Presentation === */
#presentation h2{
    position: relative;
    font-size: var(--title-size-3xl);
    font-weight: var(--title-weight-l);
    font-family: var(--title-font-sdr);
    letter-spacing: -0.02em;
    line-height: 0;
}

#presentation p {
    font-size: var(--text-size-m);
    line-height: 0;
    text-wrap: pretty;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}   

.go-next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-color-prm);
    font-family: var(--title-font);
    transition: transform 0.2s ease;
}

.go-next:active {
    transform: scale(0.95);
}

.next-section {
    font-size: var(--text-size-xs);
}

.next-arrow {
    font-size: var(--text-size-l);
    font-weight: var(--text-weight-xl);
    line-height: 90%;
}


/* === About === */

.about-content {
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: var(--blur-big);
}

.profil img {
    width: 15%;
    height: 15%;
    object-fit: cover;
    border-radius: 90%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
    opacity: 0.85;
}

.profil h4 {
    font-size: var(--title-size-s);
    font-family: var(--title-font);
    font-weight: var(--title-weight-s);
    line-height: 0;
}

.profil p {
    font-size: var(--text-size-xs);
    font-family: var(--title-font);
    font-weight: var(--title-weight-s);
    line-height: 0;
}

.fablab a {
    width: auto;
    height: auto;
    color: #ffffff;
}

.fablab img {
    width: 13%;
    height: 13%;
    object-fit: cover;
    border-radius: 90%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
    opacity: 0.85;
}

.fablab h4 {
    font-size: var(--title-size-xs);
    font-family: var(--title-font);
    font-weight: var(--title-weight-s);
    line-height: 0;
}

.fablab p {
    font-size: var(--text-size-xs);
    font-family: var(--title-font);
    font-weight: var(--title-weight-s);
    line-height: 0;
}

.skills img {
    width: 12%;
    object-fit: cover;
    border-radius: 90%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
    opacity: 0.85;
}

.skills h4 {
    font-size: var(--title-size-xs);
    font-family: var(--title-font);
    font-weight: var(--title-weight-s);
    line-height: 0;
}


/* === Project Preview === */
.projects-grid-selection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.project-preview {
    margin: 0;
    padding: 3% 3%;
    width: auto;
    height: var(--box-height);

    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--text-color-prm);

    background: var(--project-background-color);
    backdrop-filter: blur(var(--blur-medium)) saturate(80%);
    -webkit-backdrop-filter: blur(var(--blur-medium)) saturate(80%);

    border-radius: var(--radius-m);
    border: 2px solid rgba(0,0,0,0.6);

    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0px 5px 100px -90px rgb(0, 0, 0);
    transition: transform var(--transition-duration);
}

.project-preview:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.project-preview img {
    width: 100%;
    min-height: 80px;
    max-height: 80px;
    object-fit: cover;
    border-radius: var(--radius-s);
    overflow: hidden;
}

.project-preview-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.project-preview h3 {
    font-family: var(--text-font-prm);
    font-size: var(--text-size-s);
    font-weight: var(--text-weight-l);
}

.description{
    font-size: var(--text-size-xxs);
    font-family: var(--text-font-prm);
    font-weight: var(--text-weight-s);
    overflow-y: hidden;
}

.learn-more {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.learn-more p {
    font-family: var(--text-font-sdr);
    font-size: var(--text-size-xxs);
}

.click-info {
    font-style: italic;
    font-size: var(--text-size-xxs);
}


/* === Project === */
.project {
    position: fixed;
    top: var(--panel-pos-top);
    left: var(--panel-pos-left);
    transform: translate(-50%, -50%) scale(1.01);
    width: var(--panel-width);
    height: var(--panel-height);

    background: var(--project-background-color);
    backdrop-filter: blur(var(--blur-big));
    -webkit-backdrop-filter: blur(var(--blur-big));
    border-radius: var(--radius-s);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);

    display: none;
    z-index: 100;
}


/* -- header -- */
.project-header {
    margin: 1% 2% 1% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 101;
}

.project-header h3 {
    font-size: var(--title-size-m);
    font-family: var(--text-font-prm);
    font-weight: var(--text-weight-l);
    line-height: 1;
    text-wrap: wrap;
}

.close-project {
    position: relative;
    z-index: 101;
    background: none;
    border: none;
    cursor: pointer;
}

.close-project img {
    width: 120%;
    color: var(--text-color-prm);
}

/* -- main -- */
.project-grid {
    margin: 0% 3%;
    height: 80%;
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.left-content {
    overflow-y: scroll;
}

.right-content {
    text-align: center;
    overflow-y: scroll;
}

.iframe-video {
    width: 100%;
    height: 45%;
    border-radius: var(--radius-s);
}

footer p {
    font-family: var(--text-font-prm);
}