/* === Tablettes et Écrans Moyens === */
@media (max-width: 1024px) {
    header div {
        gap: 20%;
    }

    .arrow {
        margin-top: 30%;
    }

    /* --- Presentation --- */
    #presentation {
        margin-top: 30%;
        padding: 0 5%;
    }

    #presentation h2::after {
        width: var(--middle-line-width-m);
    }

    /* --- About --- */
    #about {
        left: 10%;
        margin: 50% 7% 50% 7%;
    }

    /* --- Projects --- */
    .projects-grid-selection {
        grid-template-columns: repeat(2, 1fr);
    }
}



/* === Mobile === */
@media (max-width: 768px) {
    body {
        margin: 0% 7% 15% 7%;
    }

    header div {
        display: none;
    }

    .arrow {
        margin-top: 30%;
    }

    /* --- Presentation --- */
    #presentation {
        margin-top: 30%;
        padding: 0 5%;
    }

    #presentation h2 {
        line-height: 1.5;
    }

    #presentation h2::after {
        width: var(--middle-line-width-s);
    }

    #presentation p {
        line-height: 1.5;
    }

    /* --- About --- */
    #about {
        left: 10%;
        margin: 50% 7% 50% 7%;
    }

    /* --- Projects --- */
    .projects-grid-selection {
        grid-template-columns: repeat(1, 1fr);
    }
}



/* === Petits écrans === */
@media (max-width: 480px) {
    body {
        margin: 0% 5% 20% 5%;
    }

    header div {
        display: none;
    }

    .arrow {
        margin-top: 70%;
    }

    /* --- Presentation --- */
    #presentation {
        margin-top: 50%;
    }

    #presentation h2 {
        font-size: var(--title-size-xxl);
        line-height: 1.5;
    }

    #presentation p {
        font-size: var(--text-size-s);
        line-height: 1.5;
    }

    #presentation h2::after {
        width: 0;
    }

    /* --- About --- */
    #about {
        left: 10%;
        margin: 50% 7% 50% 7%;
    }

    /* --- Projects --- */
    .projects-grid-selection {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }

    .close-project img {
        width: 200%;
    }
}