/* === HTML === */
html {
    margin: 0;
    padding: 0;
    scroll-behavior: var(--scroll-behavior);
}



/* === BODY === */
body {
    margin: 0 var(--spacing-xs) 0;
    min-height: 100vh;
    position: relative;
}

body::before {
    position: fixed;
    inset: 0;
    z-index: -1;

    transform: scale(1.1);
}

body.no-scroll {
    overflow: hidden;
}



/* === HEADER === */
header {
    top: 0;
    padding: 0.5% 5% 0 1%;
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: var(--flex-between);
    align-items: center;
    
    z-index: 100;
}

header div {
    display: flex;
    justify-content: var(--flex-end);
    align-items: center;
    gap: 50%;
}



/* === MAIN === */
main {
    display: flex;
    flex-direction: column;
    
}

section {
    scroll-margin-top: var(--scroll-margin-top);
}

section h2 {
    font-family: var(--title-section-font);
    font-weight: var(--text-weight-xl);
    font-size: var(--title-size-s);
}

section p {
    font-family: var(--text-font-sdr);
    font-size: var(--text-size-s);
}


#home {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    scroll-margin-top: 0px;
}


/* --- Presentation --- */
#presentation {
    margin-top: var(--spacing-lg);
    text-align: center;
}

.arrow1 {
    margin: var(--spacing-lg) 0 0;
    display: flex;
    justify-content: var(--flex-center);
    animation: bounce 3s infinite;
}


/* --- About --- */
#about {
    margin: var(--spacing-xl) 0 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: var(--flex-center);
    align-items: var(--flex-center);
}

.about-content {
    width: 70%;
    padding: 2%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    
    border-radius: var(--radius-m);
    box-sizing: border-box;
}

.profil {
    width: 100%;
    display: flex;
    justify-content: var(--flex-start);
    gap: var(--spacing-xs);
    box-sizing: border-box;
    align-items: flex-start;
}

.profil div {
    display: flex;
    flex-direction: column;
    align-items: var(--flex-start);
    justify-content: var(--flex-start);
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.fablab {
    width: 100%;
    display: flex;
    justify-content: var(--flex-end);
    gap: var(--spacing-xs);
    box-sizing: border-box;
    align-items: flex-start;
}

.fablab div {
    display: flex;
    flex-direction: column;
    align-items: var(--flex-end);
    justify-content: var(--flex-start);
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: var(--flex-start);
    gap: var(--spacing-xs);
    box-sizing: border-box;
    align-items: flex-start;
    flex-wrap: wrap;
}

.arrow2 {
    margin: var(--spacing-xs) 0 0;
    display: flex;
    justify-content: var(--flex-center);
    animation: bounce 3s infinite;
}


/* --- Personal Projects --- */
#personal-projects {
    margin: var(--spacing-lg) var(--spacing-sm);
}

#personal-projects h2 {
    text-align: center;
}


/* --- College Projects --- */
#college-projects {
    margin: 5% var(--spacing-sm) 15%;
}

#college-projects h2 {
    text-align: center;
}