/* === Variables === */
:root {
    /* colors */
    --home-bckg: #000000;

    --header-bckg: rgba(0, 0, 0, 0.9);
    --header-shadow: 0px 0px 40px 40px;
    
    --text-color-prm: #ffffff;
    --text-color-sdr: #000000;

    /* Titles */
    --title-font: "Arimo";
    --title-font-sdr: "Lexend";

    --title-size-xxs-sdr: 0.55em;
    --title-size-xs: 1.5em;
    --title-size-s: 1.8em;
    --title-size-m: 2em;
    --title-size-l: 2.3em;
    --title-size-xl: 2.5em;
    --title-size-xxl: 3em;
    --title-size-xxl: 3em;
    --title-size-3xl: 4em;
    --title-size-4xl: 5em;


    --title-weight-xs: 100;
    --title-weight-s: 200;
    --title-weight-m: 300;
    --title-weight-l: 400;
    --title-weight-xl: 600;
    
    /* Header */
    --header-font: "Arimo";
    --a-gap: 30%;

    /* Sections */
    --title-section-font: "Inter", sans-serif;
    --middle-line-width: 400px;
    --middle-line-width-m: 350px;
    --middle-line-width-s: 150px;
    --middle-line-width-xs: 50px;

    /* Texts */
    --text-font-prm: "Telex";
    --text-font-sdr: "Time New Roman", sans-serif;

    --text-size-xxs: 0.8em;
    --text-size-xs: 1em;
    --text-size-s: 1.3em;
    --text-size-m: 1.5em;
    --text-size-l: 1.8em;
    --text-size-xl: 2em;

    --text-weight-s: 100;
    --text-weight-m: 200;
    --text-weight-l: 400;
    --text-weight-xl: 600;

    /* Projects */
    --box-height: 300px;
    --project-background-color: rgba(255, 255, 255, 0.06);

    --panel-pos-top: 52%;
    --panel-pos-left: 50%;

    --panel-width: 75%;
    --panel-height: 80%;


    /* Global */
    --transition-duration: 0.5s;
    --radius-xs: 5px;
    --radius-s: 10px;
    --radius-m: 15px;
    --radius-m: 20px;
    --radius-xl: 25px;

    --blur-little: 3px;
    --blur-medium: 3px;
    --blur-big: 30px;

    /* Scroll params */
    --scroll-behavior: smooth;
    --scroll-margin-top: 200px;

    /* Flexbox Utilities */
    --flex-center: center;
    --flex-start: start;
    --flex-end: end;
    --flex-between: space-between;

    /* Shadows */
    --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.35);
    --shadow-md: 0 10px 15px rgba(0, 0, 0, 0.35);
    --shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.5);
    --shadow-inset: inset 0px 5px 100px -90px rgba(0, 0, 0, 1);

    /* Spacing */
    --spacing-xs: 5%;
    --spacing-sm: 7%;
    --spacing-md: 10%;
    --spacing-lg: 20%;
    --spacing-xl: 30%;
    --spacing-xxl: 50%;
}

/* === Fonts === */
@font-face {
    font-family: "Arimo";
    src: url("../fonts/Arimo-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Telex";
    src: url("../fonts/Telex-Regular.ttf");
}

@font-face {
    font-family: "Hegarty";
    src: url("../fonts/BBHHegarty-Regular.ttf");
}

@font-face {
    font-family: "Gravitas";
    src: url("../fonts/GravitasOne-Regular.ttf");
}

@font-face {
    font-family: "Lexend";
    src: url("../fonts/Lexend-VariableFont_wght.ttf");
}


/* === Animations === */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-6px);
    }
    60% {
        transform: translateY(-4px);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* === Global classes === */
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

::selection {
    background-color: rgba(0, 60, 48, 0.4);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: rgb(233, 255, 247);
}