/* === Variables === */
:root {
    /* Spacing */
    --spacing-3xs: 1%;
    --spacing-xxs: 3%;
    --spacing-xs: 5%;
    --spacing-s: 7%;
    --spacing-m: 10%;
    --spacing-l: 20%;
    --spacing-xl: 30%;
    --spacing-xxl: 40%;
    --spacing-3xl: 50%;
    --spacing-4xl: 60%;

    /* Colors */
    --background-color: #0f0f30;
    --text-color: #fafaff;
    --text-color-sdn: rgba(242, 213, 0, 0.5);

    /* Fonts */
    --font-1: "Arimo";
    --font-2: "Lexend";
    --font-3: "Inter", sans-serif;
    --font-4: "Park";
    --font-5: "Time New Roman", sans-serif;

    /* Font sizes */
    --title-size-xxs: 0.8em;
    --title-size-xs: 1.5em;
    --title-size-s: 1.8em;
    --title-size-m: 2.1em;
    --title-size-l: 2.4em;
    --title-size-xl: 2.7em;
    --title-size-xxl: 3em;
    --title-size-3xl: 4.3em;
    --title-size-4xl: 4.6em;

    --text-size-xxs: 0.5em;
    --text-size-xs: 1em;
    --text-size-s: 1.5em;
    --text-size-m: 2em;
    --text-size-l: 2.5em;
    --text-size-xl: 3em;
    --text-size-xxl: 3.5em;
    --text-size-3xl: 4em;
    --text-size-4xl: 4.5em;

    /* Font weights */
    --title-weight-xs: 100;
    --title-weight-s: 200;
    --title-weight-m: 300;
    --title-weight-l: 400;
    --title-weight-xl: 600;

    --text-weight-s: 100;
    --text-weight-m: 200;
    --text-weight-l: 400;
    --text-weight-xl: 600;

    /* Radius */
    --radius-3xs: 10px;
    --radius-xxs: 25px;
    --radius-xs: 50px;
    --radius-s: 100px;
    --radius-m: 150px;
    --radius-l: 200px;
    --radius-xl: 250px;
    --radius-xxl: 300px;
    --radius-3xl: 350px;
    --radius-4xl: 400px;

    /* Projects */
    --box-height: 300px;
    --project-background-color: rgba(255, 255, 255, 0.06);

    --panel-pos-top: 52%;
    --panel-pos-left: 50%;

    --panel-width: 75%;
    --panel-height: 80%;

    /* Blur */
    --blur-xs: 5px;
    --blur-s: 10px;
    --blur-m: 15px;
    --blur-l: 20px;
    --blur-xl: 25px;
    --blur-xxl: 30px;
    --blur-3xl: 35px;
    --blur-4xl: 40px;

    /* Scroll params */
    --scroll-behavior: smooth;
    --scroll-margin-top: 200px;

    /* Shadows */
    --shadow-1: 0 2px 5px rgba(0, 0, 0, 0.35);
    --shadow-2: 0 0px 3px rgba(255, 255, 255, 0.25);
    --shadow-3: 0 10px 20px rgba(0, 0, 0, 0.5);
    --shadow-inset-1: inset 0px 5px 100px -90px rgba(0, 0, 0, 1);
    --shadow-inset-2: inset 0 -0.1em 0 rgba(255, 255, 255, 0.7);
}

/* === Fonts === */
@font-face {
    font-family: "Arimo";
    src: url("../fonts/Arimo-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Park";
    src: url("../fonts/Parkinsans-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Lexend";
    src: url("../fonts/Lexend-VariableFont_wght.ttf");
}

/* === Animations === */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientFlow {
    0% {
        background-position: 50% 30%;
    }
    50% {
        background-position: 50% 60%;
    }
    100% {
        background-position: 50% 30%;
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-6px);
    }
    60% {
        transform: translateY(-4px);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

/* === Global classes === */
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.highlight-bar {
    display: inline-block;
    animation: slideIn 0.7s ease-out;
}

::selection {
    background-color: rgba(255, 238, 0, 0.4);
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: none;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
