/*
 * Position, behaviors, sizes for a pad
 */



@media (max-width: 900px) {

    :root {
        --scroll-margin-top: 150px;
    }

    /* === BODY === */
    body {
        margin: 0% 5%;
    }



    /* === HEADER === */
    header {
        padding: 1%;

        width: 100%;

        justify-content: var(--flex-between);
        align-items: center;
    }

    header a {
        display: none
    }



    /* === Title === */
    h1 span {
        line-height: 85%;   
    }

    .h1-primary {
        font-size: var(--text-size-xs);
    }

    .h1-secondary {
        width: 100%;

        font-size: var(--title-size-xxs-sdr);
        letter-spacing: 0.02em;
    }



    /* === MAIN === */
    section {
        scroll-margin-top: var(--scroll-margin-top);
    }

    section h2 {
        font-size: var(--title-size-s);
    }

    section p {
        font-size: var(--text-size-s);
    }



    /* === Arrow === */
    .next-section {
        font-size: var(--text-size-s);
    }

    .next-arrow {
        font-size: var(--text-size-l);
        font-weight: var(--text-weight-xl);
        line-height: 90%;
    }



    /* === Presentation === */
    #presentation {
        margin-top: 50%;
    }

    #presentation h2 {
        position: relative;

        font-size: var(--title-size-3xl);
        letter-spacing: -0.02em;
        line-height: 1.2;
    }

    #presentation p {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;

        font-size: var(--text-size-m);
        line-height: 1.5;
    } 

    .arrow1 {
        margin: var(--spacing-lg) 0% 0% 0%;
    }



    /* === About === */
    #about {
        margin: var(--spacing-xxl) 0 0;

        width: 100%;
        height: auto;
    }

    .about-content {
        padding: 6% 10%;

        width: 90%;
        height: auto;
        
        gap: 100px;
    }

    .profil, .fablab, .skills {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-xs);
    }

    .profil div, .fablab div, .skills div {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .profil h4, .fablab h4, .skills h4 {
        font-size: var(--title-size-s);
        line-height: 1;
        text-align: center;
    }

    .profil p, .fablab p, .skills p {
        font-size: var(--text-size-xs);
        line-height: 1;
        text-align: start;
    }

    /* --- Profil --- */
    .profil img {
        width: 180px;
        height: 180px;
    }

    /* --- FabLab --- */
    .fablab {
        flex-direction: column-reverse;
    }

    .fablab img {
        width: 135px;
        height: 135px;
    }

    .fablab a {
        width: auto;
        height: auto;
    }

    /* --- Skills --- */
    .skills img {
        width: auto;
        height: 120px;
    }

    .arrow2 {
        margin: 12% 0% 0% 0%;
        
    }
    /* --- Other --- */   

    /* --- Links --- */ 
    .links {
        justify-content: space-around;
        font-size: var(--text-size-xs);
    }




    /* === Project Preview === */
    #personal-projects {
        margin: 40% var(--spacing-sm) 0%;
    }

    #college-projects {
        margin: 10% var(--spacing-sm) 15%;
    }

    #personal-projects h2, #college-projects h2 {
        text-align: center;
    }

    .projects-grid-selection {
        gap: 5%;
    }

    .project-preview {
        margin: 0;
        padding: 3%;

        width: auto;
        height: var(--box-height);

        align-items: var(--flex-center);
    }

    .project-preview img {
        width: 100%;
        min-height: 80px;
        max-height: 80px;
    }

    .project-preview-content {
        width: 100%;
        height: 100%;

        align-items: start;
        justify-content: space-between;
    }

    .project-preview h3 {
        font-size: var(--text-size-s);
    }

    .description{
        font-size: var(--text-size-xxs);
    }

    .learn-more {
        width: 100%;
        justify-content: var(--flex-between);
    }

    .learn-more p {
        font-size: var(--text-size-xxs);
    }

    .click-info {
        font-size: var(--text-size-xxs);
    }



    /* === Project === */
    .project {
        top: var(--panel-pos-top);
        left: var(--panel-pos-left);

        width: var(--panel-width);
        height: var(--panel-height);

        transform: translate(-50%, -50%) scale(1.01);
    }

    /* --- header -- */
    .project-header {
        position: relative;

        margin: var(--spacing-xs) var(--spacing-xs);

        justify-content: var(--flex-between);
        align-items: center;
    }

    .project-header h3 {
        font-size: var(--title-size-m);
        line-height: 1;
        text-wrap: wrap;
    }

    .close-project {
        position: relative;
        z-index: 101;
    }

    .close-project img {
        width: 120%;
    }

    /* -- main -- */
    .projects-grid-selection {
        margin: 0% 3%;
        height: 80%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .right-content {
        text-align: center;
    }

    .iframe-video {
        width: 100%;
        height: 45%;
    }
}
